<main class="container mt-5">
  <div class="row justify-content-center">
    <main class="col-md-5">
      <article class="card shadow-sm p-4">


        <h3 class="text-center mb-3">Reset Password</h3>
        @if (error) {
          <ngb-alert type="danger" (closed)="error = null">
            {{ error }}
          </ngb-alert>
        }

        <form [formGroup]="form" (ngSubmit)="recover()">

          <section class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Enter new password"
            />

            @if (form.controls.password.touched && form.controls.password.invalid) {
              <div class="text-danger mt-1">
                Password is required
              </div>
            }
          </section>

          <section class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input id="confirmPassword"
              type="password"
              class="form-control"
              formControlName="confirmPassword"
              placeholder="Confirm your password"
            />

            @if (form.controls.confirmPassword.touched && form.controls.confirmPassword.invalid) {
              <div class="text-danger mt-1">
                Confirmation is required
              </div>
            }
          </section>

          @if (form.touched && form.value.password !== form.value.confirmPassword) {
            <div class="text-danger mb-3">
              Passwords do not match
            </div>
          }

          <button
            type="submit"
            class="btn btn-primary w-100"
            [disabled]="form.invalid || form.value.password !== form.value.confirmPassword">
            Reset Password
          </button>

        </form>

        <div class="text-center mt-3">
          <a [routerLink]="['/', 'auth', 'login']">Back to login</a>
        </div>


      </article>
    </main>
  </div>
</main>