.explore-section {
  margin-top: 4rem;
}

.explore-title {
  margin-bottom: 0.5rem;

  font-size: 2rem;
  font-weight: 700;

  color: #212529;
}

.explore-subtitle {
  margin-bottom: 1.5rem;

  color: #6c757d;
  font-size: 1rem;
}
