<main>
    <h6 class="fw-bold mb-2 d-flex justify-content-between align-items-center"
        (click)="isMenuOpen = !isMenuOpen"
        style="cursor: pointer;">
        Shipping Address
        <i class="bi bi-chevron-down"></i>
    </h6>

    @if (selectedValue) {
      <div class="small text-muted mb-2">
          Selected:
          {{ selectedAddress?.alias }}
      </div>
    }

    <header id="addressCollapse" class="collapse" [class.show]="isMenuOpen">
        <div class="row mb-3">
            @for (address of addresses(); track address.id) {
            <div class="col-12 mb-2">
                <div
                class="selectable-item"
                [class.selected]="selectedValue === address.id"
                (click)="selectPaymentMethod(address.id)"
                >
                <div class="fw-semibold">{{ address.alias }}</div>
                <div class="small text-muted">
                    {{ address.street }} #{{ address.externalNumber }},
                    {{ address.city }}
                </div>
                </div>
            </div>
            }
        </div>

        @if (addresses().length == 0) {
            <section class="text-center my-3">
                <p class="text-muted small mb-2">
                    You don’t have any saved addresses
                </p>

                <button [routerLink]="['/','profile', 'address', 'create']"
                    class="btn btn-outline-primary d-flex align-items-center gap-2 mx-auto" >
                    <i class="bi bi-geo-alt"></i>
                    Add new address
                </button>

            </section>
        }

    </header>

</main>
